<app-header-landing></app-header-landing>
<div class="login-layout light-login">
  
  <div class="login-layout">
    <div class="main-container">
      <div class="main-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
              <div class="center">
                <h1>
                  <i class="ace-icon fa fa-leaf green"></i>
                  <span class="red">Túvei</span>
                  <span class="grey" id="id-text2">Application</span>
                </h1>
                <h4 class="blue" id="id-company-text">&copy; Shagus Company</h4>
              </div>
  
              <div class="space-6"></div>
  
              <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border" *ngIf="formIngresar">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-coffee green"></i>
                        Introduce tu información
                      </h4>
  
                      <div class="space-6"></div>
  
                      <form (submit)="loginUser($event)">
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Nombre de usuario" />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>
  
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Contraseña" />
                              <i class="ace-icon fa fa-lock"></i>
                            </span>
                          </label>
  
                          <div class="space"></div>
  
                          <div class="clearfix">
                            <label class="inline">
                              <input type="checkbox" class="ace" />
                              <span class="lbl"> No cerrar sesión</span>
                            </label>
  
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                              <i class="ace-icon fa fa-key"></i>
                              <span class="bigger-110">Ingresar</span>
                            </button>
                          </div>
  
                          <div class="space-4"></div>
                        </fieldset>
                      </form>
  
                      <div class="social-or-login center">
                        <span class="bigger-110">O ingresa usando</span>
                      </div>
  
                      <div class="space-6"></div>
  
                      <div class="social-login center">
                        <a class="btn btn-danger" (click)="loginGoogle()">
                          <i class="ace-icon fa fa-google-plus"></i>
                        </a>
  
                        <a class="btn btn-primary">
                          <i class="ace-icon fa fa-facebook"></i>
                        </a>
  
                        <a class="btn btn-info">
                          <i class="ace-icon fa fa-twitter"></i>
                        </a>
                      </div>
                    </div><!-- /.widget-main -->
  
                    <div class="toolbar clearfix">
                      <div>
                        <a (click)="showRecovery()" data-target="#forgot-box" class="forgot-password-link">
                          <i class="ace-icon fa fa-arrow-left"></i>
                          Olvidé mi contraseña
                        </a>
                      </div>
  
                      <div>
                        <a (click)="showRegister()" data-target="#signup-box" class="user-signup-link">
                          Quiero registrarme
                          <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.login-box -->
  
                <div id="forgot-box" class="forgot-box widget-box no-border visible" *ngIf="formRecuperar">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header red lighter bigger">
                        <i class="ace-icon fa fa-key"></i>
                        Recuperar contraseña
                      </h4>
  
                      <div class="space-6"></div>
                      <p>
                        Introduce tu correo para recibir instrucciones!
                      </p>
  
                      <form>
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="email" class="form-control" placeholder="Email" />
                              <i class="ace-icon fa fa-envelope"></i>
                            </span>
                          </label>
  
                          <div class="clearfix">
                            <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                              <i class="ace-icon fa fa-lightbulb-o"></i>
                              <span class="bigger-110">Enviarme!</span>
                            </button>
                          </div>
                        </fieldset>
                      </form>
                      <div class="row" style="min-height: 200px">

                      </div>
                    </div><!-- /.widget-main -->
  
                    <div class="toolbar center">
                      <a (click)="showLogin()" data-target="#login-box" class="back-to-login-link">
                        Ingresar
                        <i class="ace-icon fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.forgot-box -->
  
                <div id="signup-box" class="signup-box widget-box no-border visible" *ngIf="formRegistro">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header green lighter bigger">
                        <i class="ace-icon fa fa-users blue"></i>
                        Registrar nuevo usuario
                      </h4>
  
                      <div class="space-6"></div>
                      <p> Introduce tus datos para registrarte: </p>
  
                      <form>
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="email" class="form-control" placeholder="Email" />
                              <i class="ace-icon fa fa-envelope"></i>
                            </span>
                          </label>
  
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Nombre de usuario" />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>
  
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Contraseña" />
                              <i class="ace-icon fa fa-lock"></i>
                            </span>
                          </label>
  
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Confirmar contraseña" />
                              <i class="ace-icon fa fa-retweet"></i>
                            </span>
                          </label>
  
                          <label class="block">
                            <input type="checkbox" class="ace" />
                            <span class="lbl">
                              Acepto el 
                              <a href="#">Acuerdo de Privacidad</a>
                            </span>
                          </label>
  
                          <div class="space-24"></div>
  
                          <div class="clearfix">
                            <button type="reset" class="width-30 pull-left btn btn-sm">
                              <i class="ace-icon fa fa-refresh"></i>
                              <span class="bigger-110">Limpiar</span>
                            </button>
  
                            <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                              <span class="bigger-110">Registrarme</span>
  
                              <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                          </div>
                        </fieldset>
                      </form>
                    </div>
  
                    <div class="toolbar center">
                      <a (click)="showLogin()" data-target="#login-box" class="back-to-login-link">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Regresar a Ingreso
                      </a>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.signup-box -->
              </div><!-- /.position-relative -->
  
              <div class="navbar-fixed-top align-right">
                <br />
                &nbsp;
                <a id="btn-login-dark" href="#"></a>
                &nbsp;
                <span class="blue">/</span>
                &nbsp;
                <a id="btn-login-blur" href="#"></a>
                &nbsp;
                <span class="blue">/</span>
                &nbsp;
                <a id="btn-login-light" href="#"></a>
                &nbsp; &nbsp; &nbsp;
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
      </div><!-- /.main-content -->

    </div><!-- /.main-container -->
  
    <!-- basic scripts -->
  
    <!--[if !IE]> -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>
  
    <!-- <![endif]-->
  
    <!--[if IE]>
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <![endif]-->
    <script type="text/javascript">
      if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
  
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
      jQuery(function($) {
       $(document).on('click', '.toolbar a[data-target]', function(e) {
        e.preventDefault();
        var target = $(this).data('target');
        $('.widget-box.visible').removeClass('visible');//hide others
        $(target).addClass('visible');//show target
       });
      });
      
      
      
      //you don't need this, just used for changing background
      jQuery(function($) {
       $('#btn-login-dark').on('click', function(e) {
        $('body').attr('class', 'login-layout');
        $('#id-text2').attr('class', 'white');
        $('#id-company-text').attr('class', 'blue');
        
        e.preventDefault();
       });
       $('#btn-login-light').on('click', function(e) {
        $('body').attr('class', 'login-layout light-login');
        $('#id-text2').attr('class', 'grey');
        $('#id-company-text').attr('class', 'blue');
        
        e.preventDefault();
       });
       $('#btn-login-blur').on('click', function(e) {
        $('body').attr('class', 'login-layout blur-login');
        $('#id-text2').attr('class', 'white');
        $('#id-company-text').attr('class', 'light-blue');
        
        e.preventDefault();
       });
       
      });
    </script>
  </div>
  <app-footer-dash></app-footer-dash>