<div class="navbar-wrapper" style="border-radius:0px">
	<div class="navbar navbar-inverse" style="border-radius:0px">
		<div class="navbar-inner" style="border-radius:0px">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="index.html">Túvei</a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<ul id="menu-main" class="nav">
					<li><a title="team" href="#about">¿Qué es Túvei?</a></li>
					<li><a title="services" href="#services">Servicios</a></li>
					<!--<li><a title="works" href="#works"></a>Item</li>-->
					<li><a title="blog" href="#blog">Nuestros clientes</a></li>
					<li><a title="contact" href="#contact">Contacto</a></li>
                    <li><a href="inicio.html">Registrate</a></li>
                    <li><a routerLink = "/loginForm">Iniciar sesión</a></li>
					
				</ul>
				</nav>
			</div>
		</div>
	</div>
</div>