<div class="footer">
    <div class="footer-inner">
      <div class="footer-content">
        <span class="bigger-120">
            Application<span class="blue bolder"> TÚVEI</span>
           &copy; 2017-2019
        </span>
  
        &nbsp; &nbsp;
        <span class="action-buttons">
          <a routerLink="/">
            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
          </a>
  
          <a routerLink="/">
            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
          </a>
  
          <a routerLink="/">
            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
          </a>
        </span>
      </div>
    </div>
  </div>