<!--The content below is only a placeholder and can be replaced.-->

<!--<app-unidades></app-unidades>-->


<router-outlet></router-outlet>

<!--
<section>
  <div class="row">
  <div class="col-md-6">
    <h2>Estado de notas</h2>
    <ul class="list-group">
      <li (click)="viewNote(n)" class="list-group-item" *ngFor="let n of my_notes">{{n.id}} {{n.title}}</li>
    </ul>
    <a type="button" class="btn btn-primary btn-block" (click) = "addNote()">Nueva nota</a>
  </div>
  <div class="col-md-6" *ngIf="show_form">
    <h2>Nueva nota</h2>
    <input class="form-control" placeholder="Titulo de la nota" [(ngModel)] = "note.title">
    <br>
    <textarea class="form-control" placeholder="Cuerpo de la nota" [(ngModel)] = "note.description"></textarea>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <a type="button" class="btn btn-danger btn-block" *ngIf = "editing" (click) = "removeNote()">Eliminar</a>   
      </div>
      <div class="col-md-4">
        <a type="button" class="btn btn-default btn-block" (click) = "cancel()">Cancelar</a>   
      </div>
      <div class="col-md-4">
        <a type="button" class="btn btn-primary btn-block" (click) = "createNote()">Guardar nota</a>
      </div>
    </div>
  </div>
  </div>
</section>

<section><div style="text-align:center">
  <h1>
    Welcome to {{title}}!
    <input type="text" [(ngModel)]="name">
    <p>{{name}}</p>
  </h1>
  <br>
</div></section>
-->