<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="#">TÚVEI</a>
    </li>
    <li class="active">UNIDADES</li>
  </ul><!-- /.breadcrumb -->

  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Buscar..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
      </span>
    </form>
  </div><!-- /.nav-search -->
</div>

<div class="page-content">
  <div class="page-header" style="margin-top:0px">
    <h1>
      Unidades
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        CRUD
      </small>
      <button type="button" class="green button pull-right" data-toggle="modal" data-target="#modalAgregar" (click) = "addUnidad()">Agregar</button>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      
      <section>
        <div class="row" *ngIf="show_form">
          
        <div class="col-md-12">
            <h2>{{accion}} unidad</h2>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" placeholder="Concesionado" [(ngModel)] = "unidad.concesionado">
                <br>
                <input class="form-control" placeholder="Modelo" [(ngModel)] = "unidad.modelo">
                <br>
              </div>
              <div class="col-md-6">
                <input class="form-control" placeholder="Número económico" [(ngModel)] = "unidad.numEconomico">
                <br>
                <textarea class="form-control" placeholder="Tipo" [(ngModel)] = "unidad.tipo"></textarea>
              </div>
            </div>
          
          <hr>
          <div class="row">
            <div class="col-md-4">
              <a type="button" class="btn btn-danger btn-block" *ngIf = "btnEliminar" (click) = "removeUnidad()">Eliminar</a>   
            </div>
            <div class="col-md-4">
              <a type="button" class="btn btn-default btn-block" (click) = "cancel()">Cancelar</a>   
            </div>
            <div class="col-md-4">
              <a type="button" class="btn btn-primary btn-block" *ngIf = "btnGuardar" (click) = "createUnidad()">Guardar nota</a>
            </div>
          </div>
        </div>
        <hr>
        <br>
        <div class="row"></div>
        </div>
      </section>

      <div class="row">
        <div class="col-xs-12">
          <!-- <div class="table-header">
            Results for "Latest Registered Domains"
          </div>

          div.table-responsive -->

          <!-- div.dataTables_borderWrap -->
          
          <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace" />
                      <span class="lbl"></span>
                    </label>
                  </th>
                  <th>ID(Matrícula)</th>
                  <th>Económico</th>
                  <th class="hidden-480">Concesionado</th>
                  <th class="hidden-480">Modelo</th>

                  <th>
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                    Turno
                  </th>
                  <th class="hidden-480">Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let unidad of my_unidades">
                  <td class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace" />
                      <span class="lbl"></span>
                    </label>
                  </td>

                  <td>
                    <a href="#" >{{unidad.id}}</a>
                  </td>
                  <td>{{unidad.numEconomico}}</td>
                  <td class="hidden-480">{{unidad.concesionado}}</td>
                  <td>{{unidad.modelo}}</td>
                  <td></td>

                  <td class="hidden-480">
                    <span class="label label-sm label-warning">{{unidad.tipo}}</span>
                  </td>

                  <td>
                    <div class="hidden-sm hidden-xs action-buttons">
                      <a class="blue" href="#">
                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                      </a>

                      <a class="green" (click)="viewUnidad(unidad)">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                      </a>

                      <a class="red" (click)="viewUnidadDelete(unidad)">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                      </a>
                    </div>

                    <div class="hidden-md hidden-lg">
                      <div class="inline pos-rel">
                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                          <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                          <li>
                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                              <span class="blue">
                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                              </span>
                            </a>
                          </li>

                          <li>
                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                              <span class="green">
                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                              </span>
                            </a>
                          </li>

                          <li>
                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                              <span class="red">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
        
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>