@import url("../../assets/css/bootstrap-responsive.css");
@import url("../../assets/css/style.css");
@import url("../../assets/color/default.css");


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}