<!-- navbar -->
<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="index.html">Túvei</a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<ul id="menu-main" class="nav">
					<li><a title="team" href="#about">¿Qué es Túvei?</a></li>
					<li><a title="services" href="#services">Servicios</a></li>
					<!--<li><a title="works" href="#works"></a>Item</li>-->
					<li><a title="blog" href="#blog">Nuestros clientes</a></li>
					<li><a title="contact" href="#contact">Contacto</a></li>
                    <li><a href="inicio.html">Registrate</a></li>
                    <li><a routerLink = "/loginForm">Iniciar sesión</a></li>
					
				</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Header area -->
<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
	<div class="logo">
		<img src="../assets/images/img/tuu.png" alt="" />
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-flexslider" class="flexslider">
					<ul class="slides">
                       
						<li>
                            <p></p>
                              <p></p>
                            <p class="home-slide-content">
							Rompiendo<strong>fronteras</strong>
						</p>
						
						</li>
					</ul>
				</div>
				<!-- end slider -->
			</div>
		</div>
	</div>
	</header>
</div>
<!-- spacer section -->
<section class="spacer green">
<div class="container">
	<div class="row">
		<div class="span5 align-right flyLeft">
			<blockquote class="large">
				Oaxaca necesita un despertar digital, y SHAGUS tiene la alarma oportuna. <cite>Shell Cortés Pacheco</cite>
			</blockquote>
		</div>
		<div class="span6 align-center flyRight">
          <img src="../assets/images/img/taxis.jpg" />
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
<div class="container">
	<h4>¿Qué es <strong>Túvei</strong>?</h4>
	<div class="row">
		<div class="span4 offset1">
			<div>
				<h2>La solución automatizada a la administración y control de  <strong>taxis</strong></h2>
				<p>
					Aplicación web de administracion y control de flotillas de taxis, con un panel de control
                    adecuado a las necesidades de su empresa.
                    Con Túvei al ser administrador usted podrá, dar de alta sus unidades, taxistas y recepcionistas
                    garantizamos que su información estará segura. 
                    Podrá llevar el registro de asistencia y seguimiento de la ruta y servicios de cada unidad.
                    Dando un reporte, de las actividades por unidad y de forma general.
                    Además ...
				</p>
			</div>
		</div>
		<div class="span6">
			<div class="aligncenter">
				<img src="../assets/images/img/bg/banner2.jpg" alt="" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset1 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="../assets/images/img/bg/driver.png" alt="" />
			<!--	<h3>Automatización</h3>-->

			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="../assets/images/img/bg/taxi.png" alt="" />
			<!--	<h3>Seguridad</h3>-->
				
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="../assets/images/img/bg/secre.png" alt="" />
			<!--	<h3>Vanguardía</h3>-->
				
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="../assets/images/img/bg/markers.png" alt="" />
              <!--  <h3>Eficiencia</h3>-->

			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="../assets/images/img/bg/passa.png" alt="" />
				<!--<h3>SEGURIDAD</h3>-->
			</div>
		</div>
	</div>
</div>
<!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: services -->
<section id="services" class="section orange">
<div class="container">
	<h4><strong>Servicios</strong></h4>
	<!-- Four columns -->
	<div class="row">
		<div class="col-md-3 span3 animated-fast flyIn">
			<div class="service-box">
				<img src="../assets/images/img/bg/bg-55.jpg" alt="" />
				<h2>Automatización de control</h2>
				<p>
					Gestiona tus flotillas de taxis con la seguridad y rapidez deseada.
				</p>
			</div>
		</div>
		<div class="span3 animated flyIn">
			<div class="service-box">
				<img src="../assets/images/img/quemado2.jpg" alt="" />
				<h2>Olvidate de lo tradicional</h2>
				<p>
				Con Túvei olvidate de tener que estar archivando información, exponiendola a peligros, enfocate en lo importante
                    y permitenos ayudarte.
				</p>
			</div>
		</div>
		<div class="span3 animated-fast flyIn">
			<div class="service-box">
				<img src="../assets/images/img/icons/dan-gold-176712.jpg" alt="" />
				<h2>Seremos un gran equipo</h2>
				<p>
					 Con Túvei para móvil podrás mantener comunicación con los conductores brindandoles ayuda y sabrás su ubicación en tiempo real.
				</p>
			</div>
		</div>
		<div class="span3 animated-slow flyIn">
			<div class="service-box">
				<img src="../assets/images/img/Apollo%20(30).jpg" alt="" />
				<h2>Shagus Company</h2>
				<p>
				Túvei una idea desarrollada por Shagus Company, una compañia comprometida con la nueva era digital, brindando soluciones 
                    útiles 
				</p>
			</div>
		</div>
	</div>
</div>
</section>
<!-- end section: services -->
<!-- section: works -->
<section id="works" class="section">
<div class="container clearfix">
	<h4>Con Túvei será más fácil gestionar tus flotillas de taxis</h4>
	<!-- portfolio filter -->
	<!-- <div class="row">
		<div id="filters" class="span12">
			<ul class="clearfix">
				<li><a href="#" data-filter="*" class="active">
				<h5>Sé </h5>
				</a></li>
				<li><a href="#" data-filter=".web">
				<h5>parte</h5>
				</a></li>
				<li><a href="#" data-filter=".print">
				<h5>de</h5>
				</a></li>
				<li><a href="#" data-filter=".design">
				<h5>este</h5>
				</a></li>
				<li><a href="#" data-filter=".photography">
				<h5>Despertar tecnologíco</h5>
				</a></li>
			</ul>
		</div>
		
	</div>END PORTFOLIO FILTERING -->
	<div class="row">
		<div class="span12">
			<div id="portfolio-wrap">
				<!-- portfolio item 
				<div class="portfolio-item grid print photography">
					<div class="portfolio">
						<a href="../assets/images/img/icons/dan-gold-176712.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/icons/mountains-1.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Sierra Sur OAXACA</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid print design web">
					<div class="portfolio">
						<a href="../assets/images/img/bg/banner1.png" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/icons/corona.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Obtén tu cuenta PREMIUN</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid print design">
					<div class="portfolio">
						<a href="../assets/images/img/bg/tuvei2017@gmail.com.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/bg/guia-telefonica.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>Contactanos</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid photography web">
					<div class="portfolio">
						<a href="../assets/images/img/Foto13.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/works/4.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>En construcción...</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid photography web">
					<div class="portfolio">
						<a href="../assets/images/img/Foto13.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/works/5.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>En construcción</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid photography web">
					<div class="portfolio">
						<a href="../assets/images/img/Foto13.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/works/6.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>En construcción</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item 
				<div class="portfolio-item grid photography web">
					<div class="portfolio">
						<a href="../assets/images/img/Foto13.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="../assets/images/img/works/7.png" alt="" />
						<div class="portfolio-overlay">
							<div class="thumb-info">
								<h5>En construcción</h5>
								<i class="icon-plus icon-2x"></i>
							</div>
						</div>
						</a>
					</div>
				</div>-->
				<!-- end portfolio item -->
				<!-- portfolio item -->
				
				<!-- end portfolio item -->
				<!-- portfolio item -->
				
				<!-- end portfolio item -->
				<!-- portfolio item -->
				
				<!-- end portfolio item -->
			</div>
		</div>
	</div>
</div>
</section>
<!-- spacer section -->
<section class="spacer bg3">
<div class="container">
	<div class="row">
		<div class="span12 aligncenter flyLeft">
			<blockquote class="large">
				<strong>Túvei es tu aliado para brindar un servicio de calidad y llevar un control automatizado de tu equipo
                de trabajo.</strong>
			</blockquote>
		</div>
		<div class="span12 aligncenter flyRight">
			<i class="icon-rocket icon-10x"></i>
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<section id="blog" class="section">
<div class="container">
	<h4>Nuestros clientes</h4>
	<!-- Three columns -->
	<div class="row">
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="../assets/images/img/blog/img1.jpg" alt="" />
				</div>
				<div class="post-meta">
					
					<span class="date">SITIO "AZTECA"</span>
					<span class="tags"><a href="#">Un servicio diferente</a></span>
				</div>
				<div class="entry-content">
					<h5><a href="#www.sitioazteca.com">Vistalos</a></h5>
					<p>
						Un servicio diferente, lider en servicio de transporte, ha confiado en
                        nosotros
					</p>
				
				</div>
			</div>
		</div>
		<div class="span3">
			<!--Aqui estará un cliente-->
		</div>
		<div class="span3">
		
		</div>
		<div class="span3">
		
		</div>
	</div>
	<div class="blankdivider30"></div>
	<div class="aligncenter">
		<a href="#" class="btn btn-large btn-theme">Oaxaca tambien confía en la tecnología</a>
	</div>
</div>
</section>

<!-- end spacer section -->
<!-- section: contact -->
<section id="contact" class="section green">
<div class="container">
	<h4>Contactanos</h4>
	
	<div class="blankdivider30">
	</div>
	<div class="row">
		<div class="span12">
			<div class="cform" id="contact-form">
				<div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
				<form action="" method="post" role="form" class="contactForm">
					<div class="row">
						<div class="span6">
							<div class="field your-name form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="NOMBRE" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
							</div>
							<div class="field your-email form-group">
								<input type="text" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
							</div>
							<div class="field subject form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
							</div>
						</div>
						<div class="span6">
							<div class="field message form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                                <div class="validation"></div>
							</div>
							<input type="submit" value="ENVIAR MENSAJE" class="btn btn-theme pull-left">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ./span12 -->
	</div>
</div>
</section>
<footer>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<ul class="social-networks">
				<li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
			</ul>
			<p class="copyright" >
			<strong >	<h5>&copy; SHAGUS COMPANY 2017 TODOS LOS DERECHOS RESERVADOS </h5></strong>
                
			</p>
		</div>
	</div>
</div>

</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>